body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fef2f2;
    color: #ff0066;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la pantalla */
}

.container {
    flex: 1; /* Ocupa el espacio disponible entre el header y el footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto; /* Centra horizontalmente */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

#yes-button {
    background-color: #ff66b2;
    color: white;
}

#no-button {
    background-color: #cccccc;
    color: black;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    padding: 10px 0;
    background-color: #fef2f2; /* Mismo fondo para consistencia */
    position: sticky; /* Siempre visible al final */
    bottom: 0;
    width: 100%; /* Ocupa todo el ancho */
}

footer a {
    color: #ff0066;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

footer a:hover {
    color: #ff66b2;
}

#pig-gif {
    width: 90px; /* Ajusta el tamaño a tu gusto */
    margin-top: 20px;
    display: none; /* Oculto por defecto */
    
}

#pig-gif.visible {
    display: block; /* Mostrar el GIF cuando sea necesario */
}
